* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #3F4739; /* violet */
  font-family: 'Playfair Display', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 4rem 1rem 4rem;
  z-index: 1000; /* Ensure the navbar is on top of other elements */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3F4739;
}

main {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 1rem;
}

a {
  color: #F1BF98;
  text-decoration: none;
}

p {
  font-size: medium;
}

h2 {
  color: rgb(224, 232, 255);
  text-align: center;
}

h3 {
  color: #E1F4CB;
}

ul, li, p {
  color: whitesmoke;
}

/* Grid Container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem; 
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Grid Item */
.grid-item {
  border: 1px solid whitesmoke;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #3F4739; /* Match background color for consistency */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Ensure all images are the same size */
.grid-item img {
  width: 100%;
  height: 200px; /* Fixed height for all images */
  object-fit: contain; /* Ensures images cover the area without distorting */
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.grid-item h4 {
  color: #E1F4CB;
  margin: 0.5rem 0;
}

.grid-item p {
  color: whitesmoke;
  font-size: 0.9rem;
}

.interest-section {
  margin-bottom: 4rem;
}

.section-container {
  margin: 2rem auto;
  color: #E1F4CB;
  width: 100%;
  max-width: 800px;
}

.section-container p {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  line-height: 1.8;
}

#about-me {
  font-size: 1.2rem;
  line-height: 1.5;
}

.heading-container {
  display: flex;
}


.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-link {
  margin-right: 1rem;
  font-weight: 600;
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  position: relative;
}

.nav-link:hover {
  color: white;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.4s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.logo {
  color: #F1BF98;
  font-weight: bold;
}

/* Projects */
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-container {
  display: flex;
  width: 40rem;
  height: 15rem;
  margin-top: 2rem;
  padding: 1rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.project-description {
  color: white;
  margin-right: .5rem;
}

.github-link {
  margin-left: 0.3rem;
  font-weight: semi-bold;
}

#tool {
  color: rgb(224, 232, 255);
  display: flex;
  font-weight: semi-bold;
}

/* About */

.about-description {
  font-weight: 500;
}

.tools-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  white-space: pre-wrap;
  border-radius: 0.5rem;
  margin: 5rem 0;
}

.skill {
  list-style: none;
}

.skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 35%;
  gap: 0.5rem;
}

.project-container img {
  width: 100%;
  height: auto;
  max-width: 500px; /* Adjust as needed */
  max-height: 200px; /* Adjust as needed */
  object-fit: cover;
  border-radius: 1rem;
}

@media screen and (max-width: 1170px) {
  nav {
    position: static !important; /* Change navbar to static position on medium screens */
    width: 80% !important; /* Ensure width is 100% */
  }
}

/* Med Screen */
@media screen and (max-width: 860px) {

  .grid-container {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }

  .section-container {
    width: 30rem;
  }

  .about-description {
    margin: 0 2rem 0 1rem;
  }

  .skill {
    margin-left: 1rem;
  }

  .skills {
    width: 50%;
  }

  .project-container {
    width: 30rem;
    height: 13rem;
  }

  .tools-container {
    margin: 2rem 1rem;
  }

  nav {
    position: static !important; /* Change navbar to static position on medium screens */
    width: 75% !important; /* Ensure width is 100% */
  }

  .logo {
    font-size: 1.5rem !important; /* Adjust font size for logo */
  }
}

@media screen and (max-width: 680px) {
  nav {
    position: static !important; /* Change navbar to static position on medium screens */
    width: 85% !important; /* Ensure width is 100% */
  }
}

/* Small Screen */
@media screen and (max-width: 576px) {
  .logo {
    font-size: 1.2rem !important;
    margin: 0 1rem !important;
  }

  #project-header {
    margin-left: 1rem;
  }

  .project-container {
    width: 20rem;
    flex-direction: column;
    height: auto;
  }

  .section-container {
    width: 100%;
  }

  .skills {
    width: 80%;
  }

  nav {
    position: static !important; /* Change navbar to static position on small screens */
    width: 100% !important; /* Ensure width is 100% */
  }
}

/* Animation */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in-out {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fade-in-out.fade-in {
  animation-name: fade-in;
}

.fade-in-out.fade-out {
  animation-name: fade-out;
}

/* Mouse Circle */
.circle-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000; /* Ensure the circle and dot are on top of other elements */
}

.circle {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid lightgray;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.dot {
  width: 5px;
  height: 5px;
  background-color: lightgray;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
