* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
  display: flex;
  justify-content: center;
  background-color: #212121;
}

p {
  font-size: medium;
}

h1 {
  font-weight: bold;
  color: rgb(100,119,178);
}

h1, h2, a, ul, li, p {
  color: whitesmoke;
}

#tool {
  color: rgb(100,119,178);
}

.hidden {
  opacity: 0;
  transition: all 1s;
  transform: translateX(-100%);
  filter: blur(5px);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

@media screen and (max-width: 576px) { /*  Med Length */
  #project-header {
    margin-left: 1rem;
  }
}

img {
  width: 100%; /* Adjust as needed */
  height: auto;
}