* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
  display: flex;
  justify-content: center;
  background-color: #212121;
}

p {
  font-size: medium;
}

h1 {
  font-weight: bold;
  color: rgb(100,119,178);
}

h1, h2, a, ul, li, p {
  color: whitesmoke;
}
