---
// src/components/Navbar.astro
---
<nav>
  <p class="logo">Alex Ocegueda Castro</p>
  <ul class="nav-links">
    <li><a class="nav-link" href="#">About</a></li>
    <li><a class="nav-link" href="#projects">Projects</a></li>
    <li><a class="nav-link" href="/resume.pdf" target="_blank">Resume</a></li>
  </ul>
</nav>