---
// src/components/Navbar.astro
---
<nav>
  <img class="logo" src="/images/logo.png" alt="Alex Ocegueda Castro Logo" />
  <ul class="nav-links">
    <li><a class="nav-link" href="./#">About</a></li>
    <li><a class="nav-link" href="./#interests-container">Interests</a></li>
    <li><a class="nav-link" href="./#projects">Projects</a></li>
  </ul>
  <div class="hamburger" id="hamburger">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="mobile-nav" id="mobile-nav">
    <div class="close-btn" id="close-btn">&times;</div>
    <ul>
      <li><a class="mobile-nav-link" href="./#">About</a></li>
      <li><a class="mobile-nav-link" href="./#interests">Interests</a></li>
      <li><a class="mobile-nav-link" href="./#projects">Projects</a></li>
      <li><a class="mobile-nav-link" href="/resume.pdf" target="_blank">Resume</a></li>
    </ul>
  </div>
</nav>
